.App {
  text-align: center;
}

.header {
  height: 125px;
  background-color: #444445;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 18px;
}

.header-logo {
  width: 125px;
}

.body-component {
  height: calc(100vh - 125px);
  background-color: white;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.rotating-box {
  height: 200px;
  width: 200px;
  background-color: green;
}

.scale-box {
  height: 100px;
  width: 100px;
  background-color: blue;
}